In [2]:
import pandas as pd
import random

In [3]:
# Challenge 1
df = pd.read_csv("pirates.csv") # This requires the csv file to be in the same folder as this Jupyter notebook.

In [4]:
# Challlenge 2 - Part 1 & 2
#df.info()
df.head()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14

In [5]:
# Challenge 2 - Part 3
for column in df.columns:
    for row in range(len(df["id"])):
        if pd.isna(df.loc[row, column]):
            print(row + 1)
            print(column)

34
age
1000
headband
635
favorite.pirate
137
sword.time

In [6]:
# Challenge 3
# Technique 1
# This drops all rows that contain a null value

df.dropna(inplace=True)
df.reset_index(inplace=True)

In [7]:
# Challenge 3
# Technique 2
# Drops just the age row that features a null

# df.drop(33, inplace=True)

In [8]:
# Challenge 3
# Technique 3
# Reassigns the missing value in age to the mean of ages

# df.loc[33, "age"] = df["age"].mean()

In [9]:
# Challenge 3
# Technique 4
# Reassigns the missing value in favorite.pirate to the mode

# df.loc[634, "favorite.pirate"] = df["favorite.pirate"].mode()[0]

In [10]:
# Challenge 3
# Technique 5
# Assigns the missing age value to a random integer in the range of the smallest age in the dataset and the largest age in dataset
# df.loc[33, "age"] = random.randint(df["age"].min(), df["age"].max())

In [11]:
# Challenge 4 - Part 1
df["sex"].unique()

array(['male', 'female', 'other'], dtype=object)

In [12]:
# Challenge 4 - Part 2
avgAge = df["age"].mean() # Average age of ALL pirates
avgFemale = df["age"][df["sex"] == "female"].mean() # Average age of just female pirates

In [13]:
# Challenge 4 - Part 3
# Technique 1

# df["weight_lb"] = df["weight"]*2.2
# percent = (df["weight_lb"] < 100).mean() * 100

In [14]:
# Challenge 4 - Part 3
# Technique 2

count = 0
for i in df["weight"]:
    if i < 45.3592: # 45.3592 is the kg equivalent of 100 pounds
        count += 1

percent = count/len(df["weight"]) * 100

In [15]:
# Challenge 5 - Part 1
# Step 1 - Find smallest number using min
# Step 2 - Find index value associated with that min using idxMin()
# Step 3 - Add one to get ID

idx = df["height"].idxmin()
print(idx)

min = df["height"].min()
idx = df.index[df['height'] == 129.83].tolist()
print(idx)

37
[37]

In [16]:
# Challenge 5 - Part 2
# Step 1 - Use idxMax

idx = df["weight"].idxmax()
=print(idx)

SyntaxError: invalid syntax (1691780924.py, line 5)

In [17]:
# Challenge 5 - Part 3
# Step 1 - Mode of movie column

df["fav.pixar"].mode()[0]

'Inside Out'

In [18]:
# Challenge 6 - Part 1
# Step 1 - Calculate mean of eyepatches using mean()
# Step 2 - Calculate median of eyepatches using median()

df["eyepatch"].mean()
df["eyepatch"].median()

1.0

In [19]:
# Challenge 6 - Part 2
# Step 1 - Cast all parrot values to int
# Step 2 - Calculate mean of eyepatches using mean()
# Step 3 - Calculate median of eyepatches using median()

df.loc[35, "parrots"] = 1
idx = 0
for i in df["parrots"]:
    df.loc[idx, "parrots"] = int(i)
    idx = idx + 1

df["parrots"].mean()
df["parrots"].median()

2.0

In [28]:
# Challenge 7
newRow = pd.read_csv("PirateNewRow.csv")
combined_df = pd.concat([df, newRow], ignore_index=True)
combined_df.drop(["index"], axis=1, inplace=True)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               997 non-null    int64
 1   sex              997 non-null    object
 2   age              997 non-null    float64
 3   height           997 non-null    float64
 4   weight           997 non-null    float64
 5   headband         997 non-null    object
 6   college          997 non-null    object
 7   tattoos          997 non-null    int64
 8   tchests          997 non-null    int64
 9   parrots          997 non-null    object
 10  favorite.pirate  997 non-null    object
 11  sword.type       997 non-null    object
 12  eyepatch         997 non-null    int64
 13  sword.time       997 non-null    float64
 14  beard.length     997 non-null    int64
 15  fav.pixar        997 non-null    object
 16  grogg            997 non-null    int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.5+ KB

In [27]:
# Challenge 8
newCol = pd.read_csv("PirateNewColumn.csv")
merged_df = pd.merge(combined_df, newCol, on='id', how='inner')