In [42]:
import pandas as pd
import random

In [23]:
# Challenge 1
df = pd.read_csv("pirates.csv") # This requires the csv file to be in the same folder as this Jupyter notebook.

In [24]:
# Challlenge 2 - Part 1 & 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [25]:
# Challenge 2 - Part 3
for column in df.columns:
    for row in range(len(df["id"])):
        if pd.isna(df.loc[row, column]):
            print(row + 1)
            print(column)

34
age
1000
headband
635
favorite.pirate
137
sword.time

In [21]:
# Challenge 3
# Technique 1
# This drops all rows that contain a null value

df.dropna()

In [ ]:
# Challenge 3
# Technique 2
# Drops just the age row that features a null

df.drop(33, inplace=True)

In [27]:
# Challenge 3
# Technique 3
# Reassigns the missing value in age to the mean of ages

df.loc[33, "age"] = df["age"].mean()

In [31]:
# Challenge 3
# Technique 4
# Reassigns the missing value in favorite.pirate to the mode

df.loc[634, "favorite.pirate"] = df["favorite.pirate"].mode()[0]

In [49]:
# Challenge 3
# Technique 5
# Assigns the missing age value to a random integer in the range of the smallest age in the dataset and the largest age in dataset
df.loc[33, "age"] = random.randint(df["age"].min(), df["age"].max())