In [5]:
# Challenge 1 - Part 1

colOriented = {
    "Name": ["Edward Teach", "Anne Bonny", "John Rackham", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida al Hurra", "Zheng Yi Sao", "Francis Drake", "Jean Lafitte"],
    "Years Active": ["1716-1718","1718-1720", "1718-1720", "1798-1810", "1564-1595", "1708-1721", "1515-1545", "1801-1810", "1563-1596", "1810-1823"],
    "Sailed": ["Caribbean", "Caribbean", "Caribbean", "South China Sea", "British Isles", "Caribbean", "Mediterranean", "South China Sea", "Caribbean", "Gulf of Mexico"],
    "Alias": ["Blackbeard", "", "Calico Jack", "The Kid", "Queen of Ireland", "Mark", "Hakimat Titwan", "Ching Shih", "Sir Francis Drake", "Terror of the Gulf"]
}

In [6]:
# Challenge 1 - Part 2

rowOriented = {
    "Edward Teach": ["1716-1718", "Caribbean", "Blackbeard"],
    "Anne Bonny": ["1718-1720", "Caribbean", ""],
    "John Rackham": ["1718-1720", "Caribbean", "Calico Jack"],
    "Cheung Po Tsai":["1798-1810", "South China Sea", "The Kid"],
    "Grace O'Malley":["1564-1595", "British Isles", "Queen of Ireland"],
    "Mary Read": ["1708-1721", "Caribbean", "Mark"],
    "Sayyida al Hurra": ["1515-1545", "Mediterranean", "Hakimat Titwan"],
    "Zheng Yi Sao": ["1801-1810", "South China Sea", "Ching Shih"],
    "Francis Drake": ["1563-1596", "Caribbean", "Sir Francis Drake"],
    "Jean Lafitte": ["1810 - 1823", "Gulf of Mexico", "Terror of the Gulf"]
}

In [7]:
# Challenge 2 - Part 1

count = 0
for i in range(len(colOriented["Sailed"])):
    if colOriented["Sailed"][i] == "Caribbean":
        yearsSep = colOriented["Years Active"][i].split("-")
        for year in yearsSep:
            yearInt = int(year)
            if yearInt >= 1700 and yearInt < 1800:
                count += 1
                break
print(str(count) + " Pirates active in the 18th century.")

4 Pirates active in the 18th century.

In [18]:
# Challenge 2 - Part 2

careers = []
for i in colOriented["Years Active"]:
    rangeYears = i.split("-")
    for j in range(2):
        rangeYears[j] = int(rangeYears[j])
    difference = rangeYears[1] - rangeYears[0]
    careers.append(difference)

idx = careers.index(max(careers))
colOriented["Name"][idx]

'Francis Drake'

In [19]:
# Challenge 2 - Part 3

avg = sum(careers)/len(careers)
avg

14.7

In [ ]:
# Challenge 3 

pirates = {
    "Name": ["Edward Teach", "Anne Bonny", "John Rackham", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida al Hurra", "Zheng Yi Sao", "Francis Drake", "Jean Lafitte"],
    "Sex":["M", "F", "M", "M", "F", "F", "F", "F", "M", "M"],
    "Age at Death":[40, 24, 37, 39, 73, 36, 75, 69, 56, 46],
    "Height":[6.4, 5.6, 5.6, 5.3, 5.0, 5.1, 0.0, 5.3, 5.5, 6.2],
    "Skull and Crossbones":[False, True, True, False, False, True, False, False, False, False],
    "Years Active": ["1716-1718","1718-1720", "1718-1720", "1798-1810", "1564-1595", "1708-1721", "1515-1545", "1801-1810", "1563-1596", "1810-1823"],
    "Sailed": ["Caribbean", "Caribbean", "Caribbean", "South China Sea", "British Isles", "Caribbean", "Mediterranean", "South China Sea", "Caribbean", "Gulf of Mexico"],
    "Alias": ["Blackbeard", "", "Calico Jack", "The Kid", "Queen of Ireland", "Mark", "Hakimat Titwan", "Ching Shih", "Sir Francis Drake", "Terror of the Gulf"]
}